<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	<comment>레시피 게시판 관련 SQL문</comment>
	
	
	<!-- ******* 레시피 관련 SELECT구문 시작 ******* -->
	
	<entry key="selectRecipeSingle">
		SELECT
			   RECIPE_NO,
			   RECIPE_TITLE,
			   TO_CHAR(RECIPE_DATE, 'YYYY"년" MM"월" DD"일"') RECIPE_DATE,
			   RECIPE_MODIFIED,
			   RECIPE_STATUS,
			   RECIPE_COUNT,
			   RECIPE_WRITER_NO,
			   RECIPE_CATEGORY_NO,
			   RECIPE_CATEGORY_NAME,
			   MEM_NICKNAME
		  FROM
			   TB_RECIPE
		  JOIN
			   TB_RECIPE_CATEGORY
		 USING
			   (RECIPE_CATEGORY_NO)
		  JOIN
			   TB_MEMBER
			ON
			   (RECIPE_WRITER_NO = MEM_NO)
		 WHERE
			   RECIPE_NO = ?
	</entry>
	
	
	<entry key="selectRecipePicSingle">
		SELECT
			   RECIPE_PIC_NO,
			   RECIPE_PIC_NAME_ORIGIN,
			   RECIPE_PIC_NAME_UPLOAD,
			   RECIPE_PIC_PATH,
			   TO_CHAR(RECIPE_PIC_DATE, 'YYYY"년" MM"월" DD"일"') RECIPE_PIC_DATE,
			   RECIPE_PIC_LEV,
			   RECIPE_PIC_STATUS,
			   REF_RNO
		  FROM
			   TB_RECIPE_PIC
		  WHERE
			   REF_RNO = ?
	</entry>
	
	
	<entry key="selectIngredientSingle">
	SELECT
		   INGREDIENT_NO,
		   INGREDIENT,
		   INGREDIENT_AMOUNT,
		   RECIPE_NO
	  FROM
		   TB_INGREDIENT
	 WHERE
		   RECIPE_NO = ?
	</entry>
	
	
	<entry key="selectCookStepsSingle">
	SELECT
		   COOK_STEPS_NO,
		   COOK_STEPS_TITLE,
		   COOK_STEPS_CONTENT,
		   COOK_STEPS_LEV,
		   RECIPE_NO
	  FROM
		   TB_COOK_STEPS
	 WHERE
		   RECIPE_NO = ?
	</entry>
	
	
	<entry key="selectRecipeTagSingle">
	SELECT
		   TAG_NO,
		   TAG_RECIPE_NO,
		   TAG_NAME,
		   TO_CHAR(TAG_DATE, 'YYYY"년" MM"월" DD"일"') TAG_DATE
	  FROM
		   TB_RECIPE_TAG
	  JOIN
		   TB_TAG
	 USING
	 	   (TAG_NO)
	 WHERE
		   TAG_RECIPE_NO = ?
	</entry>
	
	<entry key="selectReplyListSingle">
		SELECT
			   REPLY_NO,
			   REPLY_CONTENT,
			   TO_CHAR(REPLY_DATE, 'YYYY"년" MM"월" DD"일"') REPLY_DATE,
			   REPLY_MODIFIED,
			   REPLY_WRITER_NO,
			   RECIPE_NO
		  FROM
			   TB_REPLY
		 WHERE
		 	   REPLY_STATUS = 'Y'
		   AND
			   RECIPE_NO = ?
	</entry>
	
	
	
	
	
	
	
	
	
	
	
	
	

	
	
	<!-- 글과 작성자의 STATUS가 유효한 레시피글의 총 개수 조회 -->
	<entry key="selectRecipeListCount">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_RECIPE
		  JOIN
		  	   TB_MEMBER ON (RECIPE_WRITER_NO = MEM_NO)
		 WHERE
		 	   RECIPE_STATUS = 'Y'
		   AND
		   	   MEM_STATUS = 'Y'
	</entry>
	
	<entry key="selectRecipeList">
		SELECT
			   RNUM, RECIPE_NO, RECIPE_TITLE, RECIPE_COUNT, TITLEIMG, MEM_NICKNAME, HT_COUNT
		  FROM
		  	   (SELECT
		  	           ROWNUM RNUM, RECIPE_NO, RECIPE_TITLE, RECIPE_COUNT, TITLEIMG, MEM_NICKNAME, HT_COUNT
				  FROM
					   (SELECT
				  			   RECIPE_NO, RECIPE_TITLE, RECIPE_COUNT, RECIPE_PIC_PATH||RECIPE_PIC_NAME_UPLOAD TITLEIMG, MEM_NICKNAME
						  FROM
						  	   TB_RECIPE
						  JOIN
						  	   TB_MEMBER ON(RECIPE_WRITER_NO = MEM_NO)
						  JOIN
						  	   TB_RECIPE_PIC ON(RECIPE_NO = REF_RNO)
						 WHERE
						 	   RECIPE_STATUS = 'Y'
						   AND
						   	   MEM_STATUS = 'Y'
						   AND
						   	   RECIPE_PIC_STATUS = 'Y'
						   AND
						   	   RECIPE_PIC_LEV = 1
						 ORDER
						    BY
						       RECIPE_NO DESC
					   )
          		  LEFT
          		  JOIN
        	   		   (SELECT
        	   		   		   COUNT(*) HT_COUNT, RECIPE_NO
        		  		  FROM
        		  	   		   TB_HT_RECIPE
        		 		 GROUP
        		 	  		BY
        		 	  		   RECIPE_NO
        		 	   ) USING (RECIPE_NO)
			   )
		 WHERE
		 	   RNUM BETWEEN ? AND ?
		 ORDER
		 	BY
			   RNUM
	</entry>
	<!-- ******* 레시피 관련 SELECT구문 끝 ******* -->
	
	
	<!-- ******* 레시피 관련 UPDATE구문 시작 ******* -->
	<entry key="deleteReqReplySingle">
		UPDATE
			   TB_REPLY
		   SET
			   REPLY_STATUS = 'N'
		 WHERE
			   REPLY_NO = ?
		   AND
			   RECIPE_NO = ?
	</entry>
	
	
	
	<!-- ******* 레시피 관련 UPDATE구문 끝 ******* -->
	
	
	<!-- ******* 레시피 관련 INSERT구문 시작 ******* -->
	<entry key="insertRecipe">
		INSERT
		  INTO
		  	   TB_RECIPE
		  	   (
		  	   RECIPE_NO,
		  	   RECIPE_TITLE,
		  	   RECIPE_WRITER_NO,
		  	   RECIPE_CATEGORY_NO
		  	   )
		VALUES
			   (
			   SEQ_RECIPE.NEXTVAL,
			   ?,
			   ?,
			   ?
			   )
	</entry>
	
	
	<entry key="insertRecipePic">
		INSERT
		  INTO
		  	   TB_RECIPE_PIC
		  	   (
		  	   RECIPE_PIC_NO,
		  	   RECIPE_PIC_NAME_ORIGIN,
		  	   RECIPE_PIC_NAME_UPLOAD,
		  	   RECIPE_PIC_PATH,
		  	   RECIPE_PIC_LEV,
		  	   REF_RNO
		  	   )
		VALUES
			   (
			   SEQ_RECIPE_PIC.NEXTVAL,
			   ?,
			   ?,
			   ?,
			   ?,
			   SEQ_RECIPE.CURRVAL
			   )
	</entry>
	
	<entry key="insertIngredient">
		INSERT
		  INTO
		  	   TB_INGREDIENT
		  	   (
		  	   INGREDIENT_NO,
		  	   INGREDIENT,
		  	   INGREDIENT_AMOUNT,
		  	   RECIPE_NO
		  	   )
		VALUES
			  (
			  SEQ_INGREDIENT.NEXTVAL,
			  ?,
			  ?,
			  SEQ_RECIPE.CURRVAL
			  )
	</entry>
	
	
	<entry key="insertCookSteps">
		INSERT
		  INTO
		  	   TB_COOK_STEPS
		  	   (
		  	   COOK_STEPS_NO,
		  	   COOK_STEPS_TITLE,
		  	   COOK_STEPS_CONTENT,
		  	   COOK_STEPS_LEV,
		  	   RECIPE_NO
		  	   )
		VALUES
			   (
			   SEQ_COOK_STEPS.NEXTVAL,
			   ?,
			   ?,
			   ?,
			   SEQ_RECIPE.CURRVAL
			   )
	</entry>
	
	
	<entry key="insertRecipeTag">
		INSERT
		  INTO
		  	   TB_RECIPE_TAG
		  	   (
		  	   TAG_NO,
		  	   TAG_RECIPE_NO
		  	   )
		VALUES
			   (
			   ?,
			   SEQ_RECIPE.CURRVAL
			   )
	</entry>
	
	
	<entry key="insertReply">
		INSERT
		  INTO
		  	   TB_REPLY
		  	   (
			   REPLY_NO,
			   REPLY_CONTENT,
			   REPLY_WRITER_NO,
			   RECIPE_NO
			   )
		VALUES
			   (
			   SEQ_REPLY.NEXTVAL,
			   ?,
			   ?,
			   ?
			   )
</entry>
	
	
	
	
	
	
	
	<!-- ******* 레시피 관련 INSERT구문 끝 ******* -->












	
	<entry key="selectUnRecipeForModal">
		SELECT
			   UN_RECIPE_NO,
			   UN_RECIPE_TITLE
		  FROM
			   TB_UN_RECIPE
		 WHERE
			   UN_RECIPE_WRITER_NO = ?
	</entry>
	
	
	
	
	
	
</properties>