<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
 	<typeAliases>
		<typeAlias type="com.kh.semi.board.recipe.model.vo.RecipeCategory" alias="category" />
		<typeAlias type="com.kh.semi.coupon.model.vo.Coupon" alias="coupon" />
		<typeAlias type="com.kh.semi.report.model.vo.Report" alias="report" />
		<typeAlias type="com.kh.semi.reward.model.vo.Reward" alias="reward" />
		<typeAlias type="com.kh.semi.dm.model.vo.Dm" alias='dm' />
 	</typeAliases>

	<environments default="development">
	 	<environment id="development">
	 	
		 	<transactionManager type="JDBC" />
		 	 	
		 	<dataSource type="POOLED">
		 		<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
		 	 	<property name="url" value="jdb:oracle:thin:@localhost:1521:xe" />
		 	 	<property name="username" value="P_RECIPE" />
		 	 	<property name="password" value="P_RECIPE" />
		 	</dataSource>
		 	
	 	</environment>
	</environments>
 	 	
 	 	<mappers>
 	 		<mapper resource="/mapper/category/category-mapper.xml" />
 	 		<mapper resource="/mapper/coupon/coupon-mapper.xml" />
 	 		<mapper resource="/mapper/report/report-mapper.xml" />
 	 		<mapper resource="/mapper/reward/reward-mapper.xml" />
 	 		<mapper resource="/mapper/dm/dm-mapper.xml" />
 	 	</mappers>
</configuration>